@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(49,43,71);
  color: rgb(236, 228, 217);
}

body::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: rgb(49,43,71);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(236, 228, 217);
  border: 1px solid #000;
}